<h2 mat-dialog-title>{{title()}}</h2>

<mat-dialog-content>
    <form [formGroup]="formSavingsAccount">

        <mat-form-field>
            <mat-label>Account Number</mat-label>
            <input matInput formControlName="accountNumber">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Balance Ceiling</mat-label>
            <input type="number" matInput formControlName="balanceCeiling">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="onSubmit()"> {{savingsAccount.deletion ? 'Delete' : 'Save'}}</button>
</mat-dialog-actions>